$headerColor: #ffffff;
$navLineHeight: 2.4rem;

*, *::before, *::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

.header {
  background: url(./img/Poster.png);
  color: $headerColor;
  padding: 2rem 3rem 15rem 5rem;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10rem;

  &__head {
    display: flex;
    align-items: center;

    &--logo {
      width: 5rem;
      height: 5rem;
      margin-right: 2rem;
    }

    &--text {
      font-size: 2.4rem;
      line-height: $navLineHeight;
    }
  }

  &__search {
    position: relative;

    &--input {
      background: transparent;
      height: 3.6rem;
      width: 52.5rem;
      border: 1px solid #D1D5DB;
      border-radius: 1rem;
      padding: 0 2rem;
      color: inherit;

      &::placeholder {
        color: inherit;
      }
    }

    &--btn {
      position: absolute;
      width: 1.6rem;
      right: 2rem;
      top: 30%;
    }
  }

  &__sign {
    display: flex;
    align-items: center;

    &--text {
      font-size: 1.6rem;
      line-height: $navLineHeight;
      text-decoration: none;
      color: inherit;
      margin-right: 2rem;
    }

    &--menu {
      height: 3.6rem;
    }
  }
}

.description {
  padding: 0 10rem 0 0;
  width: 50rem;

  &__head {
    font-size: 4.8rem;
    line-height: 5.6rem;
    font-weight: 700;
    margin-bottom: 2rem;
  }

  &__details {
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
  }

  &__details1 {
    display: flex;
    align-items: center;
    margin-right: 3.5rem;

    &--img {
      width: 3.5rem;
      margin-right: 1rem;
    }
  }

  &__details2 {
    display: flex;
    align-items: center;

    &--img {
      width: 1.6rem;
      margin-right: 1rem;
    }
  }

  &__story {
    font-size: 1.4rem;
    font-size: 500;
    margin-bottom: 2rem;
  }

  &__link {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: .5rem 2.5rem;
    width: 15.5rem;
    
    background-color: #BE123C;
    font-size: 1.4rem;
    text-decoration: none;
    color: inherit;
    line-height: $navLineHeight;
  }

}
